<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}Potluck Central (alpha){% endblock %}</title>

	<link rel='stylesheet' href='/app/assets/stylesheets/master.css' type='text/css' media='screen' charset='utf-8'>
	<link rel='stylesheet' href='/app/assets/stylesheets/style.css' type='text/css' media='screen' charset='utf-8'>
	<link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>	

	{% block js %}{% endblock %}
	{% block css %}{% endblock %}
</head>
<body>
	<div id='header'>
		<div class='container'>
			<div>
				<div style='float:right;margin-top:12px;display:none;'>
					<input type='text' value='email' size='15'>
					<input type='text' value='password' size='15'>
					<input type='submit' value='login'>
				</div>
				<div style='padding-top:12px;padding-left:32px;'>
					<a href='/'><h1>Potluck Central</h1>alpha version</a>
				</div>
				<div style='clear:both;line-height:0;'>&nbsp;</div>
			</div>
		</div>
	</div>
	{% block content %}{% endblock %}	
	<div class='container'>
		<div id='footer'>
			<div class='footer-col'>
				<h3>Potluck Central</h3>
				<div><a class='footer-link' href='/about'>About Us</a></div>
				<div><a class='footer-link' href='/policy'>Privacy Policy</a></div>
				<div><a class='footer-link' href='/plan'>Plan a Potluck</a></div>
			</div>
			<div class='footer-col'>
				<h3>Community</h3>
				<!--
				<div><a class='footer-link' href='#'>Blog</a></div>
				<div><a class='footer-link' href='#'>Support</a></div>
				-->
				<div><a class='footer-link' href='/faq'>FAQ</a></div>
			</div>
			<div class='footer-col'>
				<h3>Feedback</h3>
				<div><a class='footer-link' href='mailto:support@potluckcentral.com'>Comments</a></div>
				<div><a class='footer-link' href='mailto:support@potluckcentral.com'>Bugs/Problems</a></div>
			</div>
			<div style='float:right;text-align:right;'>
				<div style='display:none;'>
					<a class='footer-link' href='#'><img src='/static/img/twitter.png'> Follow us on twitter!</a>
				</div>
				<div style='font-size:12px;color:#75abee;'>&copy; 2010 potluck central</div>
			</div>
			<div style='clear:both;padding-top:32px;'>&nbsp;</div>
		</div>
	</div>
</body>
</html>
