<script type='text/javascript'>
	$(function() {
	
		$('.bpost-link').click( function(event) {
			event.preventDefault();
			
			var divElem = $( '.bpost', $(this).parent().parent() );
			
			if( divElem.css("height") == "auto" ) {
				divElem.css("height", 100);
				$(this).html('more')
			} else {
				divElem.css("height", "auto");
				$(this).html('hide')
			}
		});
		
	});

</script>

<div class='container' style='border:1px solid #68ba00;border-bottom:0;'>
	<div class='splash'>
		<div style='float:left;width:440px;'>
			<div style='padding: 32px 0 0 32px;'>
				<ul style='padding:0;margin:0;list-style-type:none;'>
					<li class='feature' style='margin-top:-2px;'>
						<img width=48 src='/static/img/chat.png'> Tired of all those e-mails back and forth?
					</li>
					<li class='feature'>
						<img width=48 src='/static/img/list.png'> Never sure who's actually bringing what?
					</li>
					<li class='feature' style='border:0;margin:0;'>
						<img width=48 src='/static/img/splash/sad-face.png'> Sick of ending up with 20 sodas and no food?
					</li>
				</ul>
			</div>
		</div>
		<div style='float:left;width:520px;text-align:center;'>
			<div style='padding-top:8px;'>
				<div style='font-size:20px;margin-top:32px;'>Lettuce help plan that potluck!</div>
				<div style='margin:32px 0;'>
					<a href='/plan'>
						<img src='/static/img/plan.png'>
					</a>
				</div>
				<div style='width:305px;text-align:center;margin-top:16px;margin-left:auto;margin-right:auto;'>
					<div style='margin-left:-16px;'>
					<ul style='padding:0;margin:0;list-style-type:none;'>
						<li>
							<img src='/static/img/splash/tutorial.png' width=24> See a video demo
						</li>
					</ul>
					</div>
				</div>
			</div>
		</div>
		<div style='clear:both;line-height:0;'>&nbsp;</div>
	</div>
</div>
<div class='container' style='clear:both;background-color:#FFF;border:1px solid #68ba00;border-top:0;'>
	<div style="float:left;width:480px;">
		<div style='padding: 32px 16px 32px 32px;'>
			<h1 class='title'>As easy as <span style='color:#165db4'>1-2-3</span></h1>
			<ul style='margin-left:0;padding-left:16px;list-style-type:circle;'>
				<li style='margin-bottom:16px;'>
					No sign-ups required, and we’ll never require you to sign up to plan a potluck!
				</li>
				<li style='margin-bottom:16px;'>
					In just 3 easy steps, plan a potluck to suit your needs.  Be as specific or general as you want!
				</li>
				<li>
					Easily invite your friends using the links we generate for you.  Or just enter their email addresses and we’ll email them for you!
				</li>
			</ul>
		</div>
	</div>
	<div style="float:left;width:480px;">
		<div style='padding:32px 32px 32px 16px;'>
			<h1 class='title'>News &amp; Updates</h1>
			<div>
				<div class='bpost'>
					<h3>First alpha version launched!</h3>
					<div style='margin-top:16px;font-size:12px;'>
						Welcome to potluckcentral.com!
						<p>We’re really excited about sharing the first alpha version of our potluck planning website with the world.  Although we’re still working hard to add features and functionality, we feel that the site is at a place where it’s time to start getting your feedback and suggestions (and heck, we’re using it already so we thought you might want to as well).  Our goal is to make this site as convenient as possible for you to plan your potlucks, and if you feel like something could be improved, we’d love to hear your thoughts!  Please feel free to email us at <a href='mailto:support@potluckcentral.com'>support@potluckcentral.com</a>.  
					</div>
					<div style='margin-top:16px;'>-Jeff</div>
				</div>
				<div style='text-align:right;'><a href='#' class='bpost-link'>more</a></div>
			</div>
		</div>
	</div>
	<div style="clear:both;line-height:0;">&nbsp;</div>
</div>
